.bg-color-technical div {
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) !important; */
  height: 180px;
  color: gold;
  background-color: rgba(25, 42, 86, 0.3);
}
.bg-color-innovation div {
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) !important; */
  height: 180px;
  color: gold;
  background-color: rgba(25, 42, 86, 0.5);
}
.bg-color-applicationDev div {
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) !important; */
  height: 180px;
  color: gold;
  background-color: rgba(25, 42, 86, 0.9);
}

.link-title {
  color: white;
}

.card-box {
  cursor: pointer;
}

.card-box .MuiTypography-body1 {
  font-size: 1.5em !important;
  padding-top: 15px;
}

.card-box .MuiPaper-root {
  transition: all 0.4s ease-in-out !important;
}

.card-box:hover .MuiPaper-root {
  height: 180px !important;
  margin-top: -15px !important;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4) !important;
}

.arrow-right {
  text-align: center;
  padding: 10px 0px;
  display: none;
}

.card-box:hover .arrow-right {
  display: block;
  padding: 10px 0px;
}

.link-color {
  color: white;
}
